table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid red;
}

th {
  text-align: left;
}

th,
td {
  padding: 14px;
}

tr:nth-child(even) {
  background-color: #d6eeee;
}

tr:hover {
  background-color: greenyellow;
}
