@tailwind base;
@tailwind components;
@tailwind utilities;
table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid red;
}

th {
  text-align: left;
}

th,
td {
  padding: 14px;
}

tr:nth-child(even) {
  background-color: #d6eeee;
}

tr:hover {
  background-color: greenyellow;
}

ul {
  list-style-type: none;
  background-color: #333333;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 16px;
  text-align: center;
}

li a:hover {
  background-color: #111111;
}

.city {
  background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}

body {
  font: 1em sans-serif;
  padding: 0;
  margin: 0 auto;
}

p * {
  display: block;
}

input[type='email'] {
  -webkit-appearance: none;
  appearance: none;

  width: 100%;
  border: 1px solid #333;
  margin: 0;

  font-family: inherit;
  font-size: 90%;

  box-sizing: border-box;
}

/* This is our style for the invalid fields */
input:invalid {
  border-color: #900;
  background-color: #fdd;
}

input:focus:invalid {
  outline: none;
}

/* This is the style of our error messages */
.error {
  width: 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}

#div1,
#div2 {
  border: 1px solid #aaaaaa;
  width: 350px;
  height: 70px;
  padding: 10px;
  float: left;
  margin: 10px;
}

#redColor {
  color: red;
}

body {
  background-image: url('/src/images/img_tree.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

#testBorder {
  padding: 10px;
  margin: 10px;
  border: 2px solid green;
}

#testBorder2 {
  padding: 10px;
  margin: 10px;
  border-left: 4px solid green;
  border-radius: 20px;
}

#demoMargin {
  margin: auto;
  width: 200px;
  background-color: green;
  color: black;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#demoMargin2 {
  margin: auto;
  width: 200px;
  background-color: green;
  color: black;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

#testHeight {
  height: 200px;
  max-width: 500px;
  background-color: powderblue;
  text-align: center;
  margin: auto;
  padding: 20px;
  border: 10px solid green;
  box-sizing: content-box;
}

#demoOutlineOffset1 {
  width: 50%;
  height: 200px;
  background-color: yellow;
  margin: auto;
  text-align: center;
  border: 2px solid black;
  outline: 10px solid green;
  outline-offset: 40px;
}

#demoOutlineOffset2 {
  width: 50%;
  height: 200px;
  background-color: orange;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  border: 2px solid black;
  outline: 10px solid cyan;
  outline-offset: 40px;
}

#demoText {
  max-width: 500px;
  height: 200px;
  background-color: powderblue;
  margin: auto;
  text-align: justify;
  text-align-last: left;
  padding: 20px;
  text-indent: 20px;
  overflow: scroll;
  line-height: 1.4;
  word-spacing: 2px;
  word-wrap: break-word;
  text-shadow: 2px 2px 5px yellow;
}

#demoText span {
  text-decoration-line: line-through;
  text-decoration-style: wavy;
  text-decoration-color: green;
  text-decoration-thickness: 3px;
  text-transform: uppercase;
}
